// https://stackoverflow.com/questions/35756479/does-jest-support-es6-import-export
{
    "env": {
        "development": {
            "plugins": [
                "transform-es2015-modules-commonjs"
            ]
        },
        "test": {
            "plugins": [
                "transform-es2015-modules-commonjs"
            ]
        }
    }
}
